@using LeadPilot.Enum

@{
    ViewData["Title"] = "Lead";
}

<style>
   
    .search-box {
        position: relative;
        width: 300px;
    }

        .search-box i {
            position: absolute;
            left: 275px;
            top: 50%;
            transform: translateY(-50%);
            color: #258cfb;
            cursor: pointer;
        }

        .search-box input {
            width: 100%;
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
        }

            .search-box input:focus {
                border-color: #258cfb !important;
                box-shadow: none !important;
            }

    .action-buttons button,
    .action-buttons a {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #LeadDt td {
        padding: 10px 12px;
    }

</style>

<div class="d-flex justify-content-end" style="margin-bottom:10px">
    <a class="btn btn-primary m-md-1" href="Lead/CreateLead">Create Lead</a>
</div>

<div>
    <table id="LeadDt" class="table table-hover align-middle">
        <thead>
            <tr>
                <th class="d-none">Id</th>
                <th class="col-1">Company Name</th>
                <th class="col-1">Email</th>
                <th class="col-1">City</th>
                <th class="col-1">Source</th>
                <th class="col-1">Status</th>
                <th class="col-1">Added On</th>
                <th class="col-2">Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>

        $(document).ready(function(){
            GetLeadData();
        });

        function GetLeadData(){
           var table= $('#LeadDt').DataTable({
                processing: true,
                serverSide: true,
                seraching:false,
                responsive:true,
                autowidth:false,
                ajax:{
                    url:'Lead/GetAllLeads',
                    type:'POST',
                    data:function(d){
                        return {
                            PageIndex:(d.start/d.length)+1,
                            PageSize:d.length,
                            SearchText:$('#dtSearch').val()
                        }
                    }
                },
                columns:[
                    {data:'id',visible:false},
                    {data:'companyName'},
                    {data:'emailId'},
                    {data:'city'},
                    {data:'source'},
                            {
            data:'status',
            render:function(data){
                if (data === '@LeadStatusEnum.New')
            return '<span class="badge bg-info">New</span>';

                if (data === '@LeadStatusEnum.InitialSent')
            return '<span class="badge bg-primary">Initial Sent</span>';

        if (data === '@LeadStatusEnum.FollowUpSent')
            return '<span class="badge bg-warning text-dark">Follow-up Sent</span>';

        if (data === '@LeadStatusEnum.Replied')
            return '<span class="badge bg-success">Replied</span>';

        if (data === '@LeadStatusEnum.Closed')
            return '<span class="badge bg-secondary">Closed</span>';

        if (data === '@LeadStatusEnum.DoNotContact')
            return '<span class="badge bg-danger">Do Not Contact</span>';

                return data;
            }
        },
        {
            data:"addedOn",
            render:function(data){
                if(data!=undefined){
                    let date = new Date(data);
                    return date.toLocaleDateString('en-GB');
                }else{
                    return data;
                }
                
            }
        },
                    {
                        render:function(data,type,row){
                                return `
        <div class="action-buttons">
            <a class="btn btn-sm btn-outline-warning" title="Edit" href="Lead/Open?id=${row.id}">
                <i class="fa-solid fa-pen"></i>
            </a>
            <button class="btn btn-sm btn-outline-danger" title="Delete" onclick="deleteLead(${row.id})">
                <i class="fa-solid fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-outline-primary" title="Replied" onclick="updateLeadStatus(${row.id},'@LeadStatusEnum.Replied')">
                <i class="fa-solid fa-envelope-open-text"></i>
            </button>
            <button class="btn btn-sm btn-outline-success" title="Closed" onclick="updateLeadStatus(${row.id},'@LeadStatusEnum.Closed')">
                <i class="fa-solid fa-circle-check"></i>
            </button>
            <button class="btn btn-sm btn-outline-dark"  title="Do not contact" onclick="updateLeadStatus(${row.id},'@LeadStatusEnum.DoNotContact')">
                <i class="fa-solid fa-ban"></i>
            </button>
        </div>
        `;
                        }
                    }
                ],
                initComplete:function(){
                    var api=this.api();
                    $('#LeadDt_filter').empty();
                            $('#LeadDt_filter').append(`<div class="d-flex gap-2 mb-3 search-box">
            <input type="text" id="dtSearch" class="form-control" placeholder="Search">
            <i class="fa fa-search" id="searchBtn" style=""></i>
        </div>`)


                    $('#LeadDt_filter input')
                    .on('keypress',function(e){
                        if(e.which==13){
                            table.ajax.reload();
                        }
                    });

                    $('#LeadDt_filter i').on('click',function(){
                        table.ajax.reload();
                    })
                }
            });
        }

        function deleteLead(id){
            $.ajax({
                type: "DELETE",
                url: 'Lead/DeleteLead?id='+id,
                dataType: 'JSON',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if(data.status){
                        window.location.href="Lead/"
                    }else{
                        alert(data.ErrorMessage)
                    }


                },
                error: function (data) {
                    alert('error Occured')
                }
            });
        }

        function updateLeadStatus(id,type){
            $.ajax({
                type: "PUT",
                url: 'Lead/UpdateLeadStatus?id='+id+'&status='+type,
                dataType: 'JSON',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if(data.status){
                        window.location.href="Lead/"
                    }else{
                        alert(data.ErrorMessage)
                    }


                },
                error: function (data) {
                    alert('error Occured')
                }
            });
        }
    </script>
}